In [12]:
import pandas as pd
import numpy as np
from datetime import datetime

In [13]:
wsb = pd.read_csv('jantofebScrape.csv')
del wsb['Post ID']
del wsb['Title']
del wsb['Url']
del wsb['Author']
del wsb['Permalink']
del wsb['Flair']
wsb.head()

   Score         Publish Date  Total No. of Comments
0      1  2021-01-01 00:05:22                     13
1      1  2021-01-01 00:06:40                     22
2      1  2021-01-01 01:02:31                     12
3      1  2021-01-01 05:41:47                     24
4      1  2021-01-01 07:49:12                      0

In [146]:
prev = datetime.strptime('2020-01-01 00:05:21', '%Y-%m-%d %H:%M:%S').date()
wsb_dates = []
score_dict = {}
comment_dict = {}
wsb_dict = {}
count = 0
comments = 0
score = 0
for row in wsb['Publish Date']:
    date_time_str = row
    date_time_obj = datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S').date()
    if(prev < date_time_obj):
        score = 0
        comments = 0
        wsb_dates.append(date_time_obj)
        prev = date_time_obj
    else:
        score += wsb['Score'][count]
        comments += wsb['Total No. of Comments'][count]
        count += 1
    wsb_dict[date_time_obj] = [score, comments]
    score_dict[date_time_obj] = score
    comment_dict[date_time_obj] = comments

In [151]:
#for row in wsb_dict:
    #print(row , " - ", 'Score: ', wsb_dict[row][0], ' - # of Comments: ', wsb_dict[row][1])
   
#df = pd.DataFrame(wsb_dict.items(),columns = ['Dates','(Scores, Comments)'])
#df.head()

#df = df.append(wsb_dict, ignore_index=True)


#print(score_dict.values())
#print(comment_dict.values())
#wsb_df = pd.DataFrame(score_dict,columns = ['Dates','Scores', 'Comments'])
#wsb_df = wsb_df.append(list(score_dict.values()), ignore_index=True)
#wsb_df = wsb_df.append(list(comment_dict.values()), ignore_index=True)

#score_df = pd.DataFrame(score_dict)
#comment_df = pd.DataFrame(comment_dict)
#wsb_df = pd.DataFrame(list(score_dict.items()),columns = ['Date','Scores'])
#wsb_df.head()

#df = pd.DataFrame()
#df = df.append(wsb_dict, ignore_index=True)
#display(df)

2021-01-01  -  Score:  24  - # of Comments:  789
2021-01-02  -  Score:  18  - # of Comments:  647
2021-01-03  -  Score:  12  - # of Comments:  3
2021-01-04  -  Score:  42  - # of Comments:  629
2021-01-05  -  Score:  39  - # of Comments:  2156
2021-01-06  -  Score:  57  - # of Comments:  285
2021-01-07  -  Score:  61  - # of Comments:  97
2021-01-08  -  Score:  88  - # of Comments:  1018
2021-01-09  -  Score:  26  - # of Comments:  279
2021-01-10  -  Score:  16  - # of Comments:  91
2021-01-11  -  Score:  173  - # of Comments:  1401
2021-01-12  -  Score:  112  - # of Comments:  1037
2021-01-13  -  Score:  2994  - # of Comments:  8851
2021-01-14  -  Score:  2195  - # of Comments:  9259
2021-01-15  -  Score:  2571  - # of Comments:  10116
2021-01-16  -  Score:  254  - # of Comments:  2918
2021-01-17  -  Score:  125  - # of Comments:  4656
2021-01-18  -  Score:  231  - # of Comments:  5664
2021-01-19  -  Score:  2268  - # of Comments:  59832
2021-01-20  -  Score:  1215  - # of Comments:  5287
2021-01-21  -  Score:  847  - # of Comments:  6732
2021-01-22  -  Score:  918  - # of Comments:  123309
2021-01-23  -  Score:  460  - # of Comments:  10296
2021-01-24  -  Score:  440  - # of Comments:  818
2021-01-25  -  Score:  2090  - # of Comments:  1721
2021-01-26  -  Score:  596  - # of Comments:  905
2021-01-27  -  Score:  65210  - # of Comments:  126505
2021-01-28  -  Score:  29424  - # of Comments:  270317
2021-01-29  -  Score:  7195  - # of Comments:  148776
2021-01-30  -  Score:  7177  - # of Comments:  48688
2021-01-31  -  Score:  218555  - # of Comments:  74568

In [155]:
random_dict = {"a":[1, 2, 3], "b":[5, 6, 7]}
df2 = pd.DataFrame({"a":[1, 2, 3], "b":[5, 6, 7]})
print(random_dict)

{'a': [1, 2, 3], 'b': [5, 6, 7]}

In [153]:
print(wsb_dict)

{datetime.date(2021, 1, 1): [24, 789], datetime.date(2021, 1, 2): [18, 647], datetime.date(2021, 1, 3): [12, 3], datetime.date(2021, 1, 4): [42, 629], datetime.date(2021, 1, 5): [39, 2156], datetime.date(2021, 1, 6): [57, 285], datetime.date(2021, 1, 7): [61, 97], datetime.date(2021, 1, 8): [88, 1018], datetime.date(2021, 1, 9): [26, 279], datetime.date(2021, 1, 10): [16, 91], datetime.date(2021, 1, 11): [173, 1401], datetime.date(2021, 1, 12): [112, 1037], datetime.date(2021, 1, 13): [2994, 8851], datetime.date(2021, 1, 14): [2195, 9259], datetime.date(2021, 1, 15): [2571, 10116], datetime.date(2021, 1, 16): [254, 2918], datetime.date(2021, 1, 17): [125, 4656], datetime.date(2021, 1, 18): [231, 5664], datetime.date(2021, 1, 19): [2268, 59832], datetime.date(2021, 1, 20): [1215, 5287], datetime.date(2021, 1, 21): [847, 6732], datetime.date(2021, 1, 22): [918, 123309], datetime.date(2021, 1, 23): [460, 10296], datetime.date(2021, 1, 24): [440, 818], datetime.date(2021, 1, 25): [2090, 1721], datetime.date(2021, 1, 26): [596, 905], datetime.date(2021, 1, 27): [65210, 126505], datetime.date(2021, 1, 28): [29424, 270317], datetime.date(2021, 1, 29): [7195, 148776], datetime.date(2021, 1, 30): [7177, 48688], datetime.date(2021, 1, 31): [218555, 74568]}

In [150]:
pd.DataFrame.from_dict(wsb_dict)

,2021-01-01,2021-01-02,2021-01-03,2021-01-04,2021-01-05,2021-01-06,2021-01-07,2021-01-08,2021-01-09,2021-01-10,...,2021-01-22,2021-01-23,2021-01-24,2021-01-25,2021-01-26,2021-01-27,2021-01-28,2021-01-29,2021-01-30,2021-01-31
0,24,18,12,42,39,57,61,88,26,16,...,918,460,440,2090,596,65210,29424,7195,7177,218555
1,789,647,3,629,2156,285,97,1018,279,91,...,123309,10296,818,1721,905,126505,270317,148776,48688,74568